<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:src="@{/js/deletedUser.js}"></script>
    <script th:src="@{/js/deleteUser.js}"></script>
    <script th:inline="javascript">
        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/memberManagement?page=" + page +
                "&searchBy=" + encodeURIComponent(searchBy) +
                "&searchQuery=" + encodeURIComponent(searchQuery);
        }
    </script>
</th:block>

<div layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>이메일</th>
            <th>이름</th>
            <th>권한</th>
            <th>수정 날짜</th>
            <th>복원</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, status: ${members}" th:if="${member.isDeleted}">
            <td th:text="${status.index + 1}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.role}"></td>
            <td th:text="${#temporals.format(member.updateTime, 'yyyy년 MM월 dd일 HH시 mm분')}"></td>
            <td>
                <button type="button" class="btn btn-primary restore-button" th:attr="data-email=${member.email}" onclick="restoreUser(this)">복원</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${currentPage != null and maxPage != null}" th:with="start=${(currentPage / maxPage) * maxPage + 1}, end=${(totalPages == 0) ? 1 : (start + (maxPage - 1) < totalPages ? start + (maxPage - 1) : totalPages)}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                <a th:onclick="'javascript:page(' + (${currentPage} - 1) + ')'" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>이전</span>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${currentPage eq page - 1} ? 'active' : ''">
                <a th:onclick="'javascript:page(' + (${page} - 1) + ')'" th:inline="text" class="page-link">[[${page}]]</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                <a th:onclick="'javascript:page(' + (${currentPage} + 1) + ')'" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="form-inline justify-content-center mb-3">
        <select id="searchBy" class="form-control" style="width:auto;">
            <option value="email" th:selected="${searchBy == 'email'}">이메일</option>
            <option value="name" th:selected="${searchBy == 'name'}">이름</option>
        </select>
        <input id="searchQuery" type="text" class="form-control" placeholder="검색어를 입력하세요" th:value="${searchQuery}">
        <button id="searchBtn" type="button" class="btn btn-primary">검색</button>
    </div>
</div>


</html>
