spring:
#  jpa:
#    #전송 쿼리 확인
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#
#    #테이블 생성 후에 data.sql 실행
#    defer-datasource-initialization: true
#
#  datasource:
#    url : jdbc:h2:mem:testdb
#    username : sa
#
#  h2:
#    console:
#      enabled: true

  security:
    oauth2:
      client:
        registration:

          kakao:
            clientId: 84a4f3186497d4f103dd6297a55d8cb5
            scope: profile_nickname, profile_image, account_email
            client-name: Kakao
            authorization-grant-type: authorization_code
#            develop
#            redirect-uri: http://localhost:8080/articles/callback
#            deploy
            redirect-uri: http://222.119.100.90:8212/articles/callback
            client-authentication-method: client_secret_post
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  issuer: dltjdwhd1235@naver.com
  secret_key: study-springboot
