<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#searchBtn").on("click", function (e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page) {
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href = "/deleted/" + page +
                "?searchBy=" + encodeURIComponent(searchBy) +
                "&searchQuery=" + encodeURIComponent(searchQuery);
        }

        function downloadExcel() {
            var tableData = [];
            $('table tbody tr').each(function () {
                var rowData = [];
                $(this).find('td').each(function () {
                    rowData.push($(this).text());
                });
                tableData.push(rowData);
            });

            $.ajax({
                type: 'POST',
                url: '/download/excel', // 컨트롤러의 엔드포인트 URL
                contentType: 'application/json',
                data: JSON.stringify(tableData),
                success: function (response) {
                    // Blob 객체를 생성하여 응답 데이터를 저장
                    var blob = new Blob([response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });

                    // 파일 다운로드를 위한 링크를 생성
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'deleted_log.xlsx'; // 다운로드할 파일 이름 설정
                    link.click(); // 다운로드 트리거

                    // 다운로드 후 메모리 정리
                    window.URL.revokeObjectURL(link.href);

                    console.log('Excel 파일 다운로드 성공');
                },
                error: function (xhr, status, error) {
                    console.error('Excel 파일 다운로드 오류:', error);
                },
                // Blob 타입의 응답을 받을 수 있도록 설정
                xhrFields: {
                    responseType: 'blob'
                }
            });
        }

    </script>

</th:block>

<div layout:fragment="content">

        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>이름</th>
                <th>조회수</th>
                <th>작성일</th>
                <th>삭제/복원일</th>
                <th>복원</th>
                <th>비고</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board, status: ${boards.getContent()}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.member.getName()}"></td>
                <td th:text="${board.hit}"></td>
                <td th:text="${#temporals.format(board.regTime, 'yy.MM.dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(board.updateTime, 'yy.MM.dd HH:mm:ss')}"></td>
                <td>
                    <form action="/deleted/restore" role="form" method="post" th:object="${boards}">
                        <input type="hidden" name="boardId" th:value="${board.id}">
                        <th:block th:if="${not board.isRestored}">
                            <button type="submit" class="btn btn-outline-primary">복원하기</button>
                        </th:block>
                    </form>
                </td>
                <td th:text="${board.isRestored ? '복원됨' : ''}"></td>
            </tr>
            </tbody>
        </table>

        <button class="btn btn-outline-secondary" onclick="downloadExcel()">엑셀 파일 다운로드</button>

        <div th:with="start=${(boards.number/maxPage)*maxPage + 1}, end=(${(boards.totalPages == 0) ? 1 : (start + (maxPage - 1) < boards.totalPages ? start + (maxPage - 1) : boards.totalPages)})">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${boards.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${boards.number - 1} + ')'" aria-label='Previous'
                       class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${boards.number eq page - 1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
                       class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${boards.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${boards.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>

            </ul>
        </div>
    <form th:action="@{'/deleted/' + ${boards.number}}" role="form" method="get" th:object="${boards}">
        <div class="form-inline justify-content-center" th:object="${boardSearchDto}">
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="title">제목</option>
                <option value="content">본문</option>
                <option value="name">이름</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="#을 붙여 해시태그 검색">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>

</html>