<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            $('p.reply-content').click(function () {
                // 이미 존재하는 대댓글 폼을 제거
                $('.rereply-form').remove();
                // 대댓글 폼 생성
                var replyId = $(this).closest('.row').find('input[name="parentsId"]').val();
                var csrfParameterName = /*[[${_csrf.parameterName}]]*/ 'csrfParameterName';
                var csrfToken = /*[[${_csrf.token}]]*/ 'csrfToken';
                var boardId = [[${boardId}]];
                var formHtml = `
                    <form class="rereply-form mt-2" action="/comments/new/rereply" method="post" th:object="[[${replyFormDto}]]">
                        <div class="input-group">
                            <textarea class="form-control" name="content" rows="2" placeholder="대댓글을 입력하세요"></textarea>
                            <input type="hidden" name="replyId" value="${replyId}">
                            <input type="hidden" name="boardId" value="${boardId}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">대댓글 등록</button>
                            </div>
                        </div>
                        <input type="hidden" name="${csrfParameterName}" value="${csrfToken}">
                    </form>
                `;
                $(this).after(formHtml);
            });
        });
    </script>
</th:block>

<div layout:fragment="content">

    <!-- 오류 메시지 출력 -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <!-- 댓글 입력 폼 -->
<!--    게시글 번호 넣을 부분-->
    <form action="/comments/new" method="post" th:object="${replyFormDto}">
        <div class="input-group mb-3">
            <textarea class="form-control" th:field="*{content}" rows="3" placeholder="댓글을 입력하세요"></textarea>
            <input type="hidden" name="boardId" th:value="${boardId}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">댓글 등록</button>
            </div>
        </div>
        <div th:if="${#fields.hasErrors('content')}" class="text-danger">
            <p th:errors="*{content}"></p>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <h2 class="mb-4">댓글 목록</h2>
    <hr>

    <!-- 댓글 목록 출력 -->
    <div th:each="reply : ${replys}" class="row mb-3">
        <input type="hidden" name="parentsId" th:value="${reply.id}">
        <div class="col-sm-4">
            <!-- 작성자 이름 -->
            <p><small th:text="${reply.name}">작성자 이름</small></p>
        </div>
        <div class="col-sm-6">
            <!-- 댓글 내용 -->
            <p class="reply-content" th:if="${!reply.deleted}" th:text="${reply.content}" th:data-reply-id="${reply.id}">댓글 내용</p>
            <p class="reply-content" th:if="${reply.deleted}">삭제된 댓글입니다.</p>
        </div>
        <div class="col-sm-1">
            <!-- 작성 시간 -->
            <p><small th:text="${#temporals.format(reply.regTime, 'MM.dd HH:mm:ss')}">등록 시간</small></p>
        </div>
        <div class="col-sm-1">
            <!-- 삭제 버튼 -->
<!--            <th:block th:if="${#authentication.getName() eq reply.getEmail()}">-->
                <form action="/comments/delete" method="post">
                    <input type="hidden" name="replyId" th:value="${reply.id}">
                    <input type="hidden" name="boardId" th:value="${boardId}">
                    <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </form>
<!--            </th:block>-->
        </div>

        <!-- 대댓글 목록 출력 -->
        <div class="col-sm-12">
            <div class="ml-5">
                <div th:each="rereply : ${rereplys}" th:if="${rereply.parentsId} == ${reply.id}" class="row mt-2">
                    <div class="col-sm-4">
                        <!-- 대댓글 작성자 이름 -->
                        <p><small th:text="${rereply.name}">작성자 이름</small></p>
                    </div>
                    <div class="col-sm-6">
                        <!-- 대댓글 내용 -->
                        <p th:text="${rereply.content}">대댓글 내용</p>
                    </div>
                    <div class="col-sm-1">
                        <!-- 대댓글 작성 시간 -->
                        <p><small th:text="${#temporals.format(rereply.regTime, 'MM.dd HH:mm:ss')}">등록 시간</small></p>
                    </div>
                    <div class="col-sm-1">
                        <!-- 대댓글 삭제 버튼 -->
<!--                        <th:block th:if="${#authentication.getName() eq rereply.getEmail()}">-->
                            <form action="/comments/delete/rereply" method="post">
                                <input type="hidden" name="rereplyId" th:value="${rereply.id}">
                                <input type="hidden" name="boardId" th:value="${boardId}">
                                <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            </form>
<!--                        </th:block>-->
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>

</div>

</html>
