<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark bg-dark">
        <!-- 이 버튼은 모바일 화면일 기준으로 메뉴 바의 목록을 보여주는 친구다 -->
        <!-- 네이게이션 바에 있는  navbarTogglerDemo03 를 가져옴-->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="#">게시판 집계</a>
                </li>

                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="#">삭제 내역 관리</a>
                </li>

                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/testAllowed">첨부파일 관리</a>
                </li>

                <li class="nav-item"
                    sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="#">차단 유저 관리</a>
                </li>

            </ul>

            <!-- 로그인 링크와 사용자 정보를 오른쪽으로 이동 -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"
                    sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">로그인</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <input type="hidden" class="nav-link"
                           th:if="${loginType != null}"
                           th:value="${#authentication.principal.attributes['properties']['nickname']}">
                    <a href="#" class="nav-link"
                       th:if="${loginType != null}"
                       th:text="${#authentication.principal.attributes['kakao_account']['email']}"></a>
                    <input type="hidden" class="nav-link"
                           th:if="${loginType == null}"
                           th:value="${#authentication.getName()}">
                    <a href="#" class="nav-link"
                       th:if="${loginType == null}"
                       th:text="${#authentication.getName()} + '님'"></a>
                </li>
                <li>
                    <a href="/modifyMember" class="nav-link"
                       sec:authorize="isAuthenticated()">[내 정보]</a>
                </li>

                <li class="nav-item"
                    sec:authorize="isAuthenticated()">
                    <a href="/logout" class="nav-link" role="button">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

</html>
