<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <style>
        table {
            width: 280px;
            height: 250px;
            margin: auto;
            font-size: 15px;
        }
        input[type="text"], input[type="password"] {
            width: 250px;
            height: 32px;
            font-size: 15px;
            border: 0;
            border-radius: 15px;
            padding-left: 10px;
            background-color: rgb(233,233,233);
        }
    </style>
</head>
<body>
<table>
    <tr>
        <td><h2>로그인</h2></td>
    </tr>
    <tr>
        <td><input type="text"> </td>
    </tr>
    <tr>
        <td><input type="password"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Login" class="btn"></td>
        <td class="signup"><a>회원가입</a></td>
    </tr>
</table>

</body>
</html>